[Unit]
Description=Karakeep Chrome Quadlet

[Container]
Image=ghcr.io/karakeep-app/karakeep-chrome:151.0.7922.47-r1
ContainerName=karakeep-chrome

Label="glance.parent=karakeep"
Label="glance.name=Chrome"
Label="glance.hide=false"

Exec=--disable-dev-shm-usage --hide-scrollbars --disable-blink-features=AutomationControlled --window-size=1440,900

Pod=karakeep.pod

[Service]
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/docker
TimeoutStartSec=900
Restart=always
MemoryHigh=1G
MemoryMax=2G
