[Unit]
Description=Victoria Traces Quadlet

[Container]
Image=docker.io/victoriametrics/victoria-traces:v0.11.0
ContainerName=victoria-traces

User=1000:1000

Label="glance.name=VictoriaTraces"
Label="glance.icon=di:victoriametrics-light"
Label="glance.url=https://traces.${base_domain}"
Label="glance.description=Tracing Data Storage"
Label="glance.hide=false"

Exec=--loggerFormat=json --httpListenAddr=127.0.0.1:10428 --retentionPeriod=7d --retention.maxDiskSpaceUsageBytes=20GB --memory.allowedBytes=1500MB --storage.minFreeDiskSpaceBytes=48GB

Volume=/var/mnt/observability/traces:/victoria-traces-data:Z

Pod=victoria.pod

[Service]
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/docker
TimeoutStartSec=900
Restart=always
MemoryHigh=2G
MemoryMax=3G
