entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
  websecure:
    address: ":443"
    asDefault: true
    http:
      middlewares:
        - security-headers@file
      tls:
        certResolver: leresolver
    http3:
      advertisedPort: 443
    # Allow long uploads
    transport:
      respondingTimeouts:
        readTimeout: "0s"
  imaps:
    address: ":993"
  smtps:
    address: ":465"
  ldaps:
    address: ":636"

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik/file
    watch: true

certificatesResolvers:
  leresolver:
    acme:
      email: ${email}
      storage: /etc/traefik/acme/acme.json
      dnsChallenge:
        provider: cloudflare
      keyType: EC256

api:
  dashboard: true

metrics:
  otlp:
    grpc:
      endpoint: grafana-alloy:4317
      insecure: true

log:
  otlp:
    grpc:
      endpoint: grafana-alloy:4317
      insecure: true

accessLog:
  otlp:
    grpc:
      endpoint: grafana-alloy:4317
      insecure: true

experimental:
  otlpLogs: true
