{{ $baseDomain := ".${base_domain}" }}
{{ $rules := dict "pve.${base_domain}" "${pve_ip}:8006" "pbs.${base_domain}" "${pbs_ip}:8007" }}
tcp:
  routers:
    {{ range $key, $value := $rules }}{{ $name := trimSuffix $baseDomain $key }}{{ $name }}:
      rule: HostSNI(`{{ $key }}`)
      service: {{ $name }}
      tls:
        passthrough: true
    {{ end }}
  services:
    {{ range $key, $value := $rules }}{{ trimSuffix $baseDomain $key }}:
      loadBalancer:
        servers:
          - address: {{ $value }}
    {{ end }}
