[Unit]
Requires=reverse-proxy-network.service
After=reverse-proxy-network.service
Description=Blog Quadlet

[Container]
Image=docker.io/joseluisq/static-web-server:2
AutoUpdate=registry
ContainerName=blog

User=1000:1000
UserNS=keep-id:uid=1000,gid=1000

Environment=SERVER_CONFIG_FILE=/etc/sws.toml
Environment=SERVER_IGNORE_HIDDEN_FILES=false

Label="traefik.enable=true"
Label="traefik.http.routers.blog.rule=Host(`${base_domain}`)"
Label="traefik.http.services.blog.loadbalancer.server.port=8080"

Volume=/var/mnt/docker/blog:/blog:ro
Volume=%E/sws/blog.toml:/etc/sws.toml:ro,Z

Network=systemd-reverse-proxy

ReadOnly=true
NoNewPrivileges=true
DropCapability=all

[Service]
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/docker
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
