[Unit]
Requires=reverse-proxy-network.service
After=reverse-proxy-network.service
Description=Grafana Alloy Quadlet
Wants=socket-proxy.service
After=socket-proxy.service

[Container]
Image=docker.io/grafana/alloy:v1.20.0
ContainerName=grafana-alloy

# Grafana Alloy requires root inside the container.

Secret=remnawave-metrics-pass
Secret=meili-master-key
Secret=opencloud-collabora-password
Secret=immich-postgres-password
Secret=synapse-postgres-password
Secret=mas-postgres-password
Secret=outline-postgres-password
Secret=remnawave-postgres-password
Secret=miniflux-postgres-password,type=env,target=PGPASSWORD
Secret=vmauth-alloy-bearer-token

Label="glance.name=Grafana Alloy"
Label="glance.icon=di:alloy"
Label="glance.url=https://alloy.grafana.${base_domain}"
Label="glance.description=OpenTelemetry Collector"
Label="glance.hide=false"

Exec=run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data --disable-reporting /etc/alloy/config.alloy

Label="traefik.enable=true"
Label="traefik.http.routers.grafana-alloy.rule=Host(`alloy.grafana.${base_domain}`)"
Label="traefik.http.routers.grafana-alloy.middlewares=oauth2-proxy@file"
Label="traefik.http.services.grafana-alloy.loadbalancer.server.port=12345"
Label="traefik.http.routers.grafana-alloy-auth.rule=Host(`alloy.grafana.${base_domain}`) && PathPrefix(`/oauth2/`)"
Label="traefik.http.routers.grafana-alloy-auth.service=oauth2-proxy"

Label="alloy.metrics.enable=true"
Label="alloy.metrics.port=12345"

Volume=%E/alloy/config.alloy:/etc/alloy/config.alloy:Z
Volume=/var/mnt/docker/app_data/alloy:/var/lib/alloy/data:Z

Volume=%t/socket-proxy:/run/socket-proxy:ro,z

Network=systemd-reverse-proxy

[Service]
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/docker
ExecStartPre=/usr/bin/test -d /var/mnt/docker/app_data
ExecStartPre=/usr/bin/mkdir -p -m 0755 -- /var/mnt/docker/app_data/alloy
TimeoutStartSec=900
Restart=always
MemoryHigh=1.5G
MemoryMax=2G

[Install]
WantedBy=multi-user.target default.target
