[Unit]
Description=Remnawave Node VLESS XHTTP Quadlet

[Container]
Image=docker.io/remnawave/node:latest
AutoUpdate=registry
ContainerName=remnawave-node-vless-xhttp

Environment=NODE_PORT=2222
Secret=remnawave-node-vless-xhttp-secret-key,type=env,target=SECRET_KEY
Secret=remnawave-xhttp-path,type=env,target=REMNAWAVE_XHTTP_PATH

Network=reverse-proxy.network

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
