[Unit]
Description=Remnawave Node VLESS REALITY Quadlet

[Container]
Image=docker.io/remnawave/node:latest
AutoUpdate=registry
ContainerName=remnawave-node-vless-reality

Environment=NODE_PORT=2222
Secret=remnawave-node-vless-reality-secret-key,type=env,target=SECRET_KEY

Network=reverse-proxy.network
PublishPort=8443:8443/tcp
PublishPort=8443:8443/udp

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
