[Unit]
Description=Static Web Server Quadlet

[Container]
Image=docker.io/joseluisq/static-web-server:2
AutoUpdate=registry
ContainerName=static-web-server

User=1000:1000

Environment=SERVER_PORT=8080

Volume=/var/mnt/media/downloads/static:/public:ro

Network=reverse-proxy.network

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
