[Unit]
Description=Open WebUI Pipelines Quadlet

[Container]
Image=ghcr.io/open-webui/pipelines:main@sha256:b48e9bc338ce2be0acfbeff01810db72408a12f07739f9e3879c1f2b00952d6e
ContainerName=open-webui-pipelines

# This image requires root inside the container.

Secret=open-webui-anthropic-api-key,type=env,target=ANTHROPIC_API_KEY
Secret=open-webui-google-api-key,type=env,target=GOOGLE_API_KEY
Secret=open-webui-openai-api-key,type=env,target=OPENAI_API_KEY

Label="glance.parent=open-webui"
Label="glance.name=Pipelines"
Label="glance.hide=false"

Volume=/var/mnt/docker/app_data/open-webui/pipelines:/app/pipelines:Z

Pod=open-webui.pod

[Service]
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/docker
ExecStartPre=/usr/bin/test -d /var/mnt/docker/app_data
ExecStartPre=/usr/bin/mkdir -p -m 0755 -- /var/mnt/docker/app_data/open-webui/pipelines
TimeoutStartSec=900
Restart=always
