[Unit]
Description=Open WebUI Pipelines Quadlet

[Container]
Image=ghcr.io/open-webui/pipelines:main
AutoUpdate=registry
ContainerName=open-webui-pipelines

# Unfortunately open-webui cannot work under non-root user

Secret=open-webui-anthropic-api-key,type=env,target=ANTHROPIC_API_KEY
Secret=open-webui-google-api-key,type=env,target=GOOGLE_API_KEY
Secret=open-webui-openai-api-key,type=env,target=OPENAI_API_KEY

Label="glance.parent=open-webui"
Label="glance.name=Pipelines"
Label="glance.hide=false"

Volume=/var/mnt/docker/app_data/open-webui/pipelines:/app/pipelines:Z

Pod=open-webui.pod

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
