[Unit]
Description=Outline Valkey Quadlet

[Container]
Image=docker.io/valkey/valkey:9-alpine
AutoUpdate=registry
ContainerName=outline-valkey

User=1000:1000

Label="glance.parent=outline"
Label="glance.name=Valkey"
Label="glance.hide=false"

HealthCmd=valkey-cli ping || exit 1

Volume=/var/mnt/docker/app_data/outline/valkey:/data:Z

Pod=outline.pod
Notify=healthy

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
