[Unit]
Description=Remnawave Valkey Quadlet

[Container]
Image=docker.io/valkey/valkey:9-alpine
AutoUpdate=registry
ContainerName=remnawave-valkey

User=1000:1000

Label="glance.parent=remnawave"
Label="glance.name=Valkey"
Label="glance.hide=false"

HealthCmd=valkey-cli ping || exit 1

Volume=/var/mnt/docker/app_data/remnawave/valkey:/data:Z

Pod=remnawave.pod
Notify=healthy

[Service]
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/docker
ExecStartPre=/usr/bin/test -d /var/mnt/docker/app_data
ExecStartPre=/usr/bin/mkdir -p -m 0755 -- /var/mnt/docker/app_data/remnawave/valkey
TimeoutStartSec=900
Restart=always
