[Unit]
Description=Immich Postgres Quadlet

[Container]
Image=ghcr.io/immich-app/postgres:18-vectorchord1.1.1
AutoUpdate=registry
ContainerName=immich-postgres

User=1000:1000

Environment=POSTGRES_USER=immich
Environment=POSTGRES_DB=immich
Environment=POSTGRES_INITDB_ARGS="--data-checksums"
Secret=immich-postgres-password,type=env,target=POSTGRES_PASSWORD

Label="glance.parent=immich"
Label="glance.name=Postgres"
Label="glance.hide=false"

HealthCmd=pg_isready --host=127.0.0.1 --dbname="$$${POSTGRES_DB}" --username="$$${POSTGRES_USER}" || exit 1; \
        Chksum="$(psql --dbname="$$${POSTGRES_DB}" --username="$$${POSTGRES_USER}" --tuples-only --no-align \
        --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; \
        echo "checksum failure count is $Chksum"; \
        [ "$Chksum" = '0' ] || exit 1
HealthInterval=5s

Volume=/var/mnt/docker/app_data/immich/postgres:/var/lib/postgresql:Z

Pod=immich.pod
Notify=healthy

[Service]
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/docker
ExecStartPre=/usr/bin/test -d /var/mnt/docker/app_data
ExecStartPre=/usr/bin/mkdir -p -m 0755 -- /var/mnt/docker/app_data/immich/postgres
TimeoutStartSec=900
Restart=always
