[Unit]
Description=Immich Machine Learning Quadlet

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:v3.2.2-openvino
ContainerName=immich-machine-learning

User=1000:1000
GroupAdd=keep-groups

Label="glance.parent=immich"
Label="glance.name=Machine Learning"
Label="glance.hide=false"

Label="alloy.metrics.enable=true"
Label="alloy.metrics.port=8082"

Volume=/var/mnt/media/downloads/immich/model-cache:/cache:Z
Volume=immich-machine-learning.volume:/usr/src/.config
Volume=immich-machine-learning.volume:/usr/src/.cache

AddDevice=/dev/dri

Pod=immich.pod

[Service]
ExecStartPre=/usr/bin/mountpoint -q /var/mnt/docker
TimeoutStartSec=900
Restart=always
MemoryHigh=3G
MemoryMax=4G
